/* @override http://127.0.0.1:8889/index.css */

body {
	margin: -0px;
	padding: -0px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 0.8em;
}
.item{
	border-top: 1px solid #8a8a8a;
	line-height: 1.3 em;
	padding-top: 6px;
	padding-bottom: 6px;
	
}
img{
	float:right;
	padding: 10px;
}
b{
	text-align: left;
	font-weight: bold;
	font-variant: small-caps;
}
ul{
	padding-left: 25px;
	margin:4px;	
}
