<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="http://www.displayator.com/DisplayableCreator/">
    <information>
        <title>Displayable Creator - 2.0.0</title>
        <vendor>Nicolas Hoibian</vendor>
        <description>This app is meant to create Displayables for the Displayator iPad, iPhone & iPod touch app</description>
        <description kind="short">DisplayableCreator</description>
        <homepage href="http://www.displayator.com/"/>
        <offline-allowed/>
    </information>
  <security>
    <all-permissions/>
  </security>

    <resources>
        <j2se version="1.6+" java-vm-args="-Xmx2048M -Xms1660M"/>
        $dependencies
	</resources>
	<application-desc main-class="$mainClass"/>
</jnlp>
